<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app">NG-YEOMAN</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: vm.isActive('persona')}"><a ui-sref="persona">Personas</a></li>
        <li ng-class="{active: vm.isActive('cerveza')}"><a ui-sref="cerveza">Cervezas</a></li>
        <li ng-class="{active: vm.isActive('pelicula')}"><a ui-sref="pelicula"> Peliculas</a></li>
      </ul>
    </div>
  </div>
</nav>